#clock{
	display: none;
	font-family: Courier;
	font-size: 40pt;
	width: 600px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	color: green;
}

#startGame{
	width:600px;
	height:200px;
	background:green;
	color:black;
	font-family: Courier;
	font-size: 40pt;
	text-align:center;
	border-radius:30px;
	padding-top:50px;
	padding-bottom:50px;
	cursor:pointer;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
}